@font-face {
  font-family: 'jb';
  src: url('./fonts/jbmono.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'jb' !important;
  font-size: small !important;
}

.monaco-editor {
  font-family: 'jb' !important;
  font-size: small !important;
  font-weight: bold;
}
